body {
    /* round: see https://www.youtube.com/watch?v=JyOuM-xVvOI */
    color: black;
    background-color: grey;
}

.grid {
    display: grid;
}

.emptyBox {
    width: 15vmin;
    height: 15vmin; 
    animation: decay 0s ease-in-out;
    background-color: rgb(0, 128, 128);
}

.selectedBox {
    width: 15vmin;
    height: 15vmin;
    background-color: #00eeee;
}

.foodBox {
    width: 15vmin;
    height: 15vmin;
    animation: blink 500ms infinite !important;
}

@keyframes decay {
    0%   { background-color: #00cccc; }
    50%  { background-color: #00aaaa; }
    100% { background-color: #009999; }
}

@keyframes blink {
    0%   { background-color: #00aaaa;}
    50%  { background-color: #00aa77; }
    100% { background-color: #00aa99; }
}

#funButton {
    margin-top: 3vmin;
}